<div class="product">
  <div class="container">
    <header class="product-header">
      <div class="title">{{ 'landing_ourProduct' | translate }}</div>
      <h2>{{ 'landing_productDescription' | translate }}</h2>
    </header>
    <div class="img-box"></div>
    <div class="details">
      <div class="options">
        <div class="option" [innerHTML]="'landing_easyStart' | translate"></div>
        <div class="option" [innerHTML]="'landing_trackYourProgress' | translate"></div>
        <div class="option" [innerHTML]="'landing_getInstantHelp' | translate"></div>
      </div>
    </div>
  </div>
</div>
