<footer id="footer" class="footer">
  <div class="footer-inner">
    <div class="footer-content">
      <span class="copy" [innerHTML]="'layout_copyright' | translate"></span>
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a ui-sref=".termsConditions" ng-click="$ctrl.disable($event)">{{'layout_terms' | translate}}</a>
        </li>
        <li class="footer-nav-item">
          <a ui-sref=".privacyPolicy" ng-click="$ctrl.disable($event)">{{'layout_privacy' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
