<div class="img-header">
  <div class="overlay"></div>
  <div class="container">
    <div class="page">{{ subHeader | translate }}</div>
    <h2 [innerHTML]="header | translate"></h2>
    <div class="hint">
      <span [innerHTML]="p | translate"></span>
      <a *ngIf="link==='contactUs'" [routerLink]="['../contact-us']">
        {{'prefooter_links_contactus' | translate}}.
      </a>
      <a *ngIf="link==='helpCenter'" [routerLink]="['../faq']">
        {{'applications_helpCenter' | translate}}.
      </a>
    </div> <!--bind-html-compile-->
  </div>
</div>
