<div class="visa-details-page">
  <div class="content-header-holder">
    <div>
      <div class="breadcrumb">
        <span>
          <a [routerLink]="['../../']">{{"visaDetails_breadcrumb_home" | translate}}</a>
          <span>&nbsp;&nbsp;>&nbsp;&nbsp;</span>
        </span>
        <span *ngIf="type === 'individual'">
          <a [routerLink]="['../../individual-visas']">{{"visaDetails_breadcrumb_individualVisas" | translate}}</a>
          <span>&nbsp;&nbsp;>&nbsp;&nbsp;</span>
        </span>
        <span *ngIf="type === 'business'">
          <a [routerLink]="['../../business-visas']">{{"visaDetails_breadcrumb_businessVisas" | translate}}</a>
          <span>&nbsp;&nbsp;>&nbsp;&nbsp;</span>
        </span>
        <span class="active">
          <span>{{visas[visaId].title | translate}}</span>
        </span>
      </div>

    </div>

    <back-btn></back-btn>

    <div class="page-header">
      {{visas[visaId].title | translate}}
    </div>
  </div>
  <section class="main">
    <div class="visa-logo">
      <img [src]="visas[visaId].img" alt="Visa logo image"/>
    </div>
    <div class="visa-details-text"
       [innerHTML]="visas[visaId].description | translate">
    </div>
  </section>

  <!--Visa price for Individual visas-->
  <aside class="aside" *ngIf="type === 'individual'">
    <div class="visa-details">
      <h3>{{'qualifying_processingFee' | translate}}</h3>
      <div class="details">{{'qualifying_visaDetails' | translate}}</div>
      <div class="price-box">
        <span [innerHTML]="visas[visaId].priceAnnouncement | translate"></span>
        <div class="price">
          {{visas[visaId].price | translate}}
        </div>
      </div>
      <div class="additional-box">
        <span>{{'qualifying_additionalPrice' | translate}}</span>
        <div class="additional">{{visas[visaId].additionalPrice | translate}}</div>
      </div>
    </div>
  </aside>

  <!--Visa Facts for business visas-->
  <aside class="aside" *ngIf="type === 'business'">
    <div class="visa-details">
      <h3>Visa Facts</h3>
      <div class="details"> {{visas[visaId].facts | translate}}   </div>
    </div>
  </aside>

  <div class="visa-details-control">
    <a class="btn btn-default start-app-btn"
       [routerLink]="['../../login']"
       [queryParams]="{startWith: visas[visaId].id}">
      {{'landing_visaDetail_startApplication' | translate}}
    </a>
  </div>
</div>
