<section class="content" id="content">
  <div class="container">
    <div class="content-inner">
      <div class="login-form-wrapper">
        <div class="login-form-holder">
          <form
            #form="ngForm"
            class="form login-form form-validation"
            [ngClass]="{'ng-submitted': form.submitted}"
            (ngSubmit)="submit(form)" novalidate>
            <fieldset>
              <h2>{{'registration_getStarted' | translate}}</h2>
              <div class="form-row text-left">
                <div class="form-col col-half-width" style="padding: 0;">
                  <a class="btn-facebook" (click)="fbAuth()">{{'login_facebook' | translate}}</a>
                </div>
                <div class="form-col col-half-width" style="padding: 0;">
                  <a #googleBtn class="btn-google">{{'login_google' | translate}}</a>
                </div>
              </div>
              <div class="form-row text-left">
                <div class="form-col col-half-width">
                  <input
                    type="text"
                    name="firstName"
                    #firstName="ngModel"
                    placeholder="{{'profile_firstName' | translate}}"
                    maxlength="100"
                    [(ngModel)]="user.firstName"
                    required
                    [disabled]="emailRequired"
                    [ngClass]="{'ng-invalid-required': firstName.errors && firstName.errors.required}"
                  />
                  <div class="message error-required">
                    {{'user_registration_missing_firstName' | translate}}
                  </div>
                </div>
                <div class="form-col col-half-width">
                  <input
                    type="text" id="lastName"
                    name="lastName"
                    #lastName="ngModel"
                    placeholder="{{'profile_lastName' | translate}}"
                    maxlength="100"
                    [(ngModel)]="user.lastName"
                    required
                    [disabled]="emailRequired"
                    [ngClass]="{'ng-invalid-required': lastName.errors && lastName.errors.required}"/>
                  <div class="message error-required">
                    {{'user_registration_missing_lastName' | translate}}
                  </div>
                </div>
              </div>
              <div class="form-row">
                <input
                  type="email"
                  name="email"
                  #email="ngModel"
                  maxlength="100"
                  [(ngModel)]="user.email"
                  [placeholder]="'profile_email' | translate"
                  [pattern]="emailPattern"
                  [disabled]="isEmailDisabled(email)"
                  (ngModelChange)="errors = []"
                  required
                  [ngClass]="{'ng-invalid-required': email.errors && email.errors.required,
                  'ng-invalid-pattern': email.errors && email.errors.pattern,
                  'ng-invalid ng-invalid-duplicate': isEmailDuplicate()}"
                />
                <div class="message error-duplicate show" *ngIf="isEmailDuplicate()">
                  {{'user_registration_duplicate_email' | translate}}
                </div>
                <div class="message error-required">
                  {{'user_registration_missing_email' | translate}}
                </div>
                <div class="message error-pattern">
                  {{'user_registration_incorrect_email' | translate}}
                </div>
              </div>
              <div class="form-row" *ngIf="!nameRequired && !emailRequired">
                <div class="password-holder password-show">
                  <password-display name="password" [(ngModel)]="user.password" required="" [withTooltip]="true"
                                    [pattern]="passwordPattern"></password-display>
                </div>
              </div>
              <div
                class="form-row"
                style="min-height: 78px;"
                *ngIf="!nameRequired && !emailRequired && !socialProvider">
                <recaptcha name="reCaptchaResponse" [(ngModel)]="user.reCaptchaResponse"
                           sitekey="6LdbhgoUAAAAAP4ldiltcNrE-NEiatPMBh3gsPtZ" required></recaptcha>
              </div>
              <div
                class="message server-message captcha-message"
                *ngIf="form.submitted && !user.reCaptchaResponse && !nameRequired && !emailRequired && !socialProvider">
                {{'recaptcha_error_invalid' | translate}}
              </div>
              <div class="form-row submit-row">
                <button type="submit" value class="btn btn-default">{{'login_signup' | translate}}</button>
              </div>
              <div class="form-row form-footer text-center"
                   [innerHTML]="'registration_haveAnAccount' | translate"></div>
              <div class="form-row agreement" [innerHTML]="'registration_agreement' | translate"></div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
