.appointment {
	margin-top:-50px;
	@include clearfix;
	.appCalendar {
		float:left;
		width:350px;
		.date-picker {
			margin:0 0 30px;
		}
	}
	.appCnt {
		float:right;
		width:790px;
		.heading {
			.form {
				float: none;
				width: 100%;
				input {
					margin-top:5px;
					width:480px;
				}
			}
			.btn {
				float: left;
			}

		}
		.dateRow {
			padding:5px 0 10px;
			.dayNav {
				float: right;
			}
			h2 {
				font:20px/40px ProximaNova-Semibold;
			}
		}
	}
}

.dayNav {
	.btn {
		line-height: 38px;
		margin:0 0 0 6px;
	}
	.dayPrev,
	.dayNext {
		width: 40px;
		min-width: 0;		
		position:relative;
		padding: 0;
		&:after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 7px 5px 0;
			border-color: transparent #c2c5cc transparent transparent;
			left:50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.dayNext {
		&:after {
			border-width: 5px 0 5px 7px;
			border-color: transparent transparent transparent $btn_back_fill;
		}
	}
}