.cabinet {
  padding: 0 0 90px;
  .content-header {
    margin-bottom: 35px;
  }
  .aside {
    padding-right: 10px;
    + .main {
      float: left;
      margin-left: 0;
      width: 66.666%;
      max-width: 100%;
    }
  }
  @include respond-to(tablet) {
    .aside {
      width: 25%;
      + .main {
        width: 75%;
      }
    }
  }
  @include respond-to(mobileLG) {
    .aside {
      width: 100%;
      + .main {
        width: 100%;
      }
    }
  }
  .steps-list {
    .step-icon {
      display: inline-block;
      position: relative;
      margin-right: 18px;
      margin-left: -4px;
      top: 4px;
    }
    .beneficiary_information, .beneficiary_questions, .petitionary_information, .petitionary_questions {
      margin-right: 18px;
      margin-left: -4px;
      top: 4px;
      width: 25px;
      height: 19px;
      background: url(/assets/images/visa-specific.svg) no-repeat;
    }
    .dependent_information, .dependent_questions {
      margin-right: 18px;
      margin-left: -4px;
      top: -7px;
      width: 18px;
      height: 18px;
      background: url(/assets/images/general-info.svg) no-repeat;
    }
    .additional {
      width: 19px;
      height: 19px;
      background: url(/assets/images/add-form.svg) no-repeat;
    }
    .beneficiary_documents, .petitionary_documents {
      width: 19px;
      height: 25px;
      background: url(/assets/images/documents.svg) no-repeat;
    }
    li {
      padding: 0 30px;
      font-size: 16px;
      line-height: 20px;
      color: $app_text_dark_color;
      cursor: pointer;
      &[disabled] {
        pointer-events: none;
        cursor: default;
      }
      @include respond-to(tablet) {
        padding: 0 10px;
      }
      .step {
        max-width: 180px;
        padding: 34px 0;
        display: inline-block;
        background: inherit;
        box-shadow: none;
        color: $text_dark_color;
      }
      .icon {
        width: 25px;
        display: inline-block;
        float: left;
        vertical-align: middle;
        margin-right: 20px;
        svg {
          width: 100%;
          max-height: 100%;
        }
      }
      &:last-child {
        .step {
          border: none;
        }
      }
      &.active {
        background-color: $section_list_btn_fill_active;
        border: 1px solid $section_list_btn_border_active;
        border-right: none;
        border-radius: 3px 0 0 3px;
        font-family: $PNSemibold;
        .step {
          border: none;
        }
        .icon {
          svg {
            path {
              fill: $section_list_btn_fill;
            }
          }
        }
        .beneficiary_information, .beneficiary_questions, .petitionary_information, .petitionary_questions {
          background: url(/assets/images/visa-specific-active.svg) no-repeat;
        }
        .dependent_information, .dependent_questions  {
          background: url(/assets/images/general-info-active.svg) no-repeat;
        }
        .additional {
          background: url(/assets/images/add-form-active.svg) no-repeat;
        }
        .beneficiary_documents, .petitionary_documents {
          background: url(/assets/images/documents-active.svg) no-repeat;
        }
      }
      &.rejected, &.approved {
        position: relative;
        &:after {
          width: 14px;
          height: 14px;
          content: '';
          position:absolute;
          top: 50%;
          left: 45px;
        }
      }
      &.rejected:after {
        background: url(/assets/images/i-cross-red.svg) center/100% no-repeat;
      }
      &.approved:after {
        background: url(/assets/images/i-success.svg) center/100% no-repeat;
      }
    }
  }
  .forms-handler {
    background: $cabinet_form_fill;
    padding: 10px 20px;
    margin: 0 -20px;

    @include clearfix();
    .form-wrap {
      width: 50%;
      float: left;
      padding: 10px;
      box-sizing: border-box;
      min-height: 98px;
      @include respond-to(mobileLG) {
        width: 100%;
        float: none;
        padding: 10px 0;
      }
      &:nth-child(2n+1) {
        padding-left: 0;
      }
      &:nth-child(2n+2) {
        padding-right: 0;
      }
      .form {
        background-color: $white;
        padding: 13px 20px;
        border: 1px solid $cabinet_form_border;
        border-radius: 3px;
        cursor: pointer;
        display: block;
        min-height: 78px;
        box-sizing: border-box;
        .title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
          line-height: 20px;
          color: $app_text_dark_color;
          margin-bottom: 10px;
        }
        .line-progress {
          width: 95%;
          .percentage {
            font-size: 12px;
          }
        }
        .hint {
          font: 14px/20px $PNSemibold;
          color: #2a2b2e;
          &.error {
            font-family: $PNLight;
          }
          &.additional {
            font-family: $PNLight;
            color: #c7c9d3;
          }
          &.submitted {
            font-family: $PNLight;
            color: #c7c9d3;
            width: 85%;
            float: left;
          }
        }
        &.disabled {
          pointer-events: none;
          cursor: default;
          background-color: #fafafa;
          &.hover {
            box-shadow: none;
            @include transform(scale(1));
          }
          .hint {
            color: #c7c9d3;
          }
        }

        &.approved,
        &.rejected {
          position: relative;
          &:after {
            width: 14px;
            height: 14px;
            background: url(/assets/images/i-success.svg) no-repeat;
            content: "";
            position: absolute;
            right: -7px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &.rejected {
          &:after {
            background: url(/assets/images/i-cross-red.svg) no-repeat;
          }
        }
        &.rejected {
          .hint,
          .percentage {
            color: $rejectd_color;
          }
        }
      }
    }
  }
}
