.case {
  * {
    box-sizing: border-box;
  }
  .heading {
    margin: 70px 0 35px;
    &.type01 {
      border-bottom: 1px solid $btn_default_bg;
      padding: 0 0 33px;
      margin: 65px 0 35px;
    }
    .control {
      float: right;
      .btn {
        font-size: 15px;
        line-height: 36px;
      }
    }
    p {
      font: 13px/16px $PNRegular;
      padding-top: 30px;
    }
  }
  .sub-heading {
    border-bottom: 1px solid $btn_default_bg;
    padding: 0 0 15px;
    @include clearfix();
    h3 {
      font: 16px/18px $PNSemibold;
    }
    .control {
      float: right;
      width: 50%;
      text-align: right;
      .acc-nav {
        float: right;
        padding-right: 40px;
        @include dropDownArrow();
        .options {
          left: auto;
          ul {
            padding: 0;
          }
        }
      }
    }
  }
  .caseRow {
    @include clearfix;
    .col {
      float: left;
      width: calc(50% - 10px);
      &:first-child {
        margin-right: 20px;
      }
      @include respond-to (mobileLG) {
        float: none;
        width: 100%;
        margin-bottom: 20px;
      }
    }
    &.profile {
      .col {
        float: right;
        width: calc(48%);
        &:first-child {
          margin: 0;
          float: left;
          width: calc(47%);
        }
      }
      @include respond-to (mobileLG) {
        .col,
        .col:first-child {
          float: none;
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
  .btn {
    line-height: 38px;
    font-size: 15px;
    margin: 0 6px 0 0;
  }
  .btns {
    padding: 20px 0 0;
    .btn {
      margin-right: 6px;
    }
  }
  .steps-list {
    li {
      span {
        max-width: 165px;
        display: inline-block;
      }
    }
  }
  .caseBox {
    background: $checkout_bg;
    border: 1px solid $btn_back_border;
    padding: 30px 30px 42px;
    margin: 0 0 20px;
    &.type01 {
      background: $white;
    }
    h2 {
      position: relative;
      text-transform: uppercase;
      font: 13px/26px $PNSemibold;
      padding: 0 0 26px;
      margin: -8px 0 21px;
      &:after {
        content: "";
        width: 40px;
        height: 1px;
        background: $accordion_title_border_hover;
        position: absolute;
        top: 47px;
        left: 0;
      }
    }
    .form-row {
      @include respond-to (mobileLG) {
        table-layout: fixed;
      }
      .form-col.col-label + .form-col {
        @include respond-to (mobileLG) {
          width: 100%;
        }
      }
      .form-col.col-label {
        width: 170px;
        padding-right: 5px;
      }
      .form-col + .form-col {
        width: calc(100% - 170px);
        max-width: 348px;
        padding: 0;
        .btn {
          margin-bottom: 10px;
        }
      }
      .infoBox01 {
        padding: 11px 0 0;
        p {
          strong {
            font-family: $PNSemibold;
          }
        }
      }
    }
    &.participants {
      padding-bottom: 30px;
      .form-row {
        margin: 0;
        padding: 15px 0;
        position: relative;
        .form-col:first-child {
          line-height: 40px;
        }
        &:after {
          content: '';
          clear: both;
          display: block;
        }
        &:before {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          border-top: 1px dashed $saved_color;
          height: 0;
          content: "";
        }
        &:nth-child(2):before {
          display: none;
        }
        &.dependent ~ .dependent:before {
          width: calc(100% - 165px);
        }
        .infoBox01 {
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .visaFee {
    p {
      font: 15px/25px $PNSemibold;
      margin: 0 0 10px;
    }
    .price,
    .additionalPrice {
      display: block;
      color: $price_color;
      font: 30px/30px $PNSemibold;
      margin: 0 0 21px;
    }
    .additionalPrice {
      color: $progressbar_color;
    }
  }
  .internalNotes {
    .row {
      @include clearfix;
      margin: 0 0 10px;
      position: relative;
      display: table;
      width: 100%;
    }
    textarea {
      border-radius: 3px;
      width: calc(100% - 70px);
      overflow: auto;
      resize: none;
      font: 16px/25px $PNLight;
      padding: 10px 20px;
      margin: 0 0 10px;
    }
    .btn {
      float: right;
      margin: 0 70px 10px 0;
    }
    p {
      background: $checkout_bg;
      border: 1px solid $btn_back_border;
      margin: 0;
      padding: 20px;
      display: table-cell;
      width: calc(100% - 70px);
    }
    .remove {
      width: 70px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      .icon {
        width: 12px;
        display: inline-block;
        cursor: pointer;
      }
      &:hover {
        .icon {
          svg {
            path {
              fill: $documents_remove_hover_color;
            }
          }
        }
      }
    }
  }
  .forms-handler {
    margin: 0;
  }
  .cabinet {
    padding: 0;
    @at-root .case.cabinet .forms-handler {
      margin: 0 0 0 -20px;
      &.documents {
        margin: 0;
      }
    }
  }
  .content-header-holder {
    //padding:38px 0 0;
    .content-header {
      font: 30px/32px $PNRegular;
      margin: 0 0 30px;
      color: $description_color;
      float: none;
      width: 100%;
    }
    .content-subheader {
      padding-bottom: 10px;
    }
    .content-subheader-link {
      font-size: 14px;
      padding: 10px 0 0;
    }
    .control {
      float: right;
      width: 50%;
      .btn {
        float: right;
        margin: 0 0 0 24px;
      }
      vl-select {
        float: right;
      }

    }
  }
  cases-attorney-docs .row {
    @include clearfix;
    padding: 20px 40px 20px 20px;
    margin-right: 100px;
    background: $select_divider_fill;
    border-bottom: 1px dashed $documents_point_border;
    @include respond-to (mobileLG) {
      margin: 0;
    }
    &:nth-child(odd) {
      background: none;
    }
  }
  .documents {
    .form-row {
      padding: 17px 20px 0;
      &:last-child {
        border: none;
      }
      .point {
        padding-bottom: 17px;
        .errorMsg {
          padding-left: 610px;
          max-width: 1040px;
        }
      }
    }
    .row {
      &.type01 {
        background: none;
      }
      &:last-child {
        border: none;
      }
      .text {
        width: 275px;
        float: left;
        h3 {
          font: 15px/16px $PNSemibold;
        }
        p {
          font: 13px/20px $PNRegular;
        }
      }
      .control {
        float: right;
        width: 50%;
        text-align: right;
        .remove {
          float: right;
          width: 14px;
          height: 14px;
          margin-left: 40px;
        }
        p {
          float: right;
        }
      }
    }
    .files {
      width: 50%;
      .row {
        .lang-title {
          min-height: 1px;
          width: 12.5%;
          float: left;
        }
        .file {
          width: 62.5%;
          .col-left, .line-progress {
            width: 75%;
          }
          .remove {
            float: left;
          }
        }
      }
    }
    .sub-heading {
      margin: 50px 0 30px;
      padding: 0 20px 15px;
    }
    .user-upload {
      .col-4 {
        padding-left: 40px;
      }
    }
  }
  .caseForm {
    padding: 30px 0;
    .row {
      @include clearfix;
      margin: 0 0 10px;
      .box {
        @include clearfix;
        background: $app_bg;
        border: 1px solid $dashboard_empty_border;
        padding: 0 20px 0 30px;
        color: $text_dark_color;
        display: block;
        h4 {
          font: 16px/48px $PNSemibold;
          color: $app_text_dark_color;
          float: left;
        }
        .status {
          float: right;
          font: 14px/48px $PNSemibold;
        }
      }
      .control {
        float: right;
        width: 162px;
        text-align: right;
        padding: 6px 0 0;
      }
    }
    hr {
      border: 0;
      width: 100%;
      height: 0;
      margin: 30px 0;
      border-bottom: 1px dashed $app_border_hover;
      &:first-child, &:last-child {
        display: none;
      }
    }
    &.type01 {
      .box {
        width: calc(100% - 180px);
        float: left;
      }
    }
  }
  .conversation {
    position: relative;
    @include respond-to (mobileLG) {
      padding: 40px 0 0;
    }
    .dateLabel {
      position: absolute;
      top: 0;
      left: 0;
      color: $white;
      background: $section_list_btn_fill;
      border-radius: 2px;
      font: 13px/20px $PNSemibold;
      padding: 0 10px;
      text-transform: uppercase;
    }
    .row {
      @include clearfix;
      padding: 0 50px 20px 0;
      @include respond-to (mobileLG) {
        padding: 0 0 20px;
      }
      .person {
        float: right;
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin: 20px 0 0 20px;
      }
      .info {
        float: right;
        width: 680px;
        @include respond-to (mobileLG) {
          width: calc(100% - 50px);
        }
        .text {
          margin: 0 0 10px;
          background: $conversation_text_bg;
          border: 1px solid $conversation_text_border;
          border-radius: 3px;
          padding: 20px 30px;
          font: 16px/30px $PNRegular;
        }
        .sentVia {
          text-align: right;
          font: 13px/14px $PNRegular;
          color: $saved_color;
        }
      }
      &.type01 {
        padding: 0 0 20px 100px;
        @include respond-to (mobileLG) {
          padding: 0 0 20px;
        }
        .person,
        .info {
          float: left;
        }
        .person {
          margin: 20px 65px 0 0;
          @include respond-to (mobileLG) {
            margin: 20px 20px 0 0;
          }
        }
        .info {
          .text {
            background: $checkout_bg;
            border: 1px solid $dashboard_empty_border;
          }
        }
      }
    }
    .textarea {
      @include clearfix;
      padding: 30px 100px 0 200px;
      margin: 20px 0 0;
      border-top: 1px solid $drag_drop_border;
      @include respond-to (mobileLG) {
        padding: 30px 0 0;
      }
      textarea {
        border-radius: 3px;
        width: 100%;
        margin: 0 0 20px;
        min-height: 160px;
        overflow: auto;
        resize: none;
        font: 16px/30px $PNRegular;
        padding: 10px 30px;
      }
      .btn {
        float: right;
      }
    }
  }
  .caseDocuments {
    @include clearfix;
    .intro {
      text-align: center;
      background: $checkout_bg;
      border: 1px solid $dashboard_empty_border;
      padding: 65px 0 80px;
      p {
        margin: 0 0 35px;
        font: 15px/20px $PNRegular;
      }
    }
    .packageAside {
      float: left;
      width: 380px;
      @include respond-to (mobileLG) {
        float: none;
        width: 100%;
        padding-bottom: 20px;
      }
      .packageAsideBox {
        background: $checkout_bg;
        border: 1px solid $dashboard_empty_border;
        padding: 25px 30px 40px 70px;
        margin: 0 0 20px;
        label {
          width: 100%;
        }
        div.checkbox {
          margin: 7px 0 0 -40px;
          @include respond-to (mobileLG) {
            margin-top: 0;
          }
        }
        p {
          font: 15px/20px $PNRegular;
          margin: 0 0 20px;
        }
        .label {
          display: table;
        }
        .btn {
          margin: 15px 0 0;
          line-height: 35px;
          &.btn-red {
            margin: 30px 0 0;
          }
        }
      }
    }
    .packageCnt {
      float: right;
      width: calc(100% - 400px);
      @include respond-to (mobileLG) {
        float: none;
        width: 100%;
      }
      .btns {
        padding: 0 0 30px;
        @include clearfix;
        .btn {
          float: right;
          &:first-child {
            float: left;
          }
        }
      }
      .row {
        @include clearfix;
        border-bottom: 1px dashed $app_border_hover;
        padding: 20px 0;
        label {
          float: left;
        }
        .box01,
        .box02 {
          float: left;
          width: calc(100% - 320px);
          font: 15px/20px $PNSemibold;
        }
        .box02 {
          width: 280px;
        }
      }
    }
    .packageArea {
      padding: 0 0 30px;
      .tabs {
        @include clearfix;
        li {
          float: left;
          margin-bottom: -1px;
          position: relative;
          &:after {
            position: absolute;
            top: 10px;
            right: 0;
            width: 0px;
            height: 50px;
            content: "";
            border-right: 1px dashed $app_border_hover;
          }
          &:last-child:after,
          &.active:after {
            border: 0;
          }
          a {
            color: $tabs_link_color;
            display: block;
            font: 16px/20px $PNRegular;
            padding: 15px 20px;

            strong {
              color: $text_dark_color;
              display: block;
            }
          }
          &.active a {
            background: $popup_footer_fill;
            border: solid $header_border;
            border-width: 1px 1px 0;
            border-radius: 3px 3px 0 0;
            min-height: 71px;
          }
        }
      }
      .tab {
        background: $popup_footer_fill;
        border: 1px solid $header_border;
        border-radius: 0 3px 3px 3px;
        padding: 27px 20px 20px;
        .control {
          padding: 0 0 27px;
          @include clearfix;
          .btns {
            padding: 0;
            float: left;
            .btn {
              line-height: 33px;
            }
          }
        }
      }
      .showDocsPackageOptions {
        margin-right: 20px;
        margin-top: 27px;
      }
      .showOptions {
        float: right;
        p {
          float: left;
          font: 15px/35px $PNRegular;
          padding-right: 20px;
        }
        input[type="radio"]:first-child + label,
        input[type="radio"] + label {
          margin: 0;
        }
      }
      .listOfDocuments {
        background: $white;
        border: 1px solid $cabinet_form_border;
        border-radius: 3px;
        padding: 5px 20px;
        .row {
          padding: 12px 0;
          @include clearfix;
          border-bottom: 1px dashed $app_border_hover;
          &:last-child {
            border: 0;
          }
        }

        .order {
          float: left;
          margin: 0 22px 0 0;
          width: 17px;
          height: 35px;
          padding: 17px 3px 16px 3px;
          position: relative;
          cursor: move;
          span {
            background: $acc_nav_border;
            display: block;
            width: 100%;
            height: 100%;
          }
          &:after,
          &:before {
            background: $acc_nav_border;
            width: 11px;
            height: 2px;
            position: absolute;
            top: 12px;
            left: 3px;
            content: "";
          }
          &:before {
            top: 22px;
          }
        }
        p {
          float: left;
          font: 15px/35px $PNSemibold;
        }
      }
    }

  }
  .caseBilling {
    width: 682px;
    float: left;
    padding: 0 0 30px;
    li {
      padding: 15px 0 25px;
      border-top: 1px dashed $documents_point_border;
      &:first-child {
        border: 0;
      }
      .label {
        float: right;
        text-align: right;
        width: 120px;
        span {
          border-radius: 3px;
          font: 13px/20px $PNSemibold;
          display: inline-block;
          padding: 0 10px;
          background: $section_list_btn_fill;
          text-transform: uppercase;
          color: $white;
        }
        &.payed span {
          background: $section_list_drop_link_fill;
        }
        &.overdue span {
          background: $documents_error_color;
        }
      }
      .btn {
        float: right
      }
      .price {
        width: 60px;
        float: right;
        font: 15px/20px $PNSemibold;
      }
      h5 {
        font: 15px/20px $PNSemibold;
      }
      p {
        font: 14px/20px $PNLight;
        margin: 0;
      }
      ul {
        margin: 25px 0 -25px 40px;
        li {
          border: 0;
          padding: 0 0 35px;
        }
      }
    }
  }
  .cardInfo {
    float: right;
    width: 420px;
    .box {
      background: $checkout_bg;
      border: 1px solid $btn_back_border;
      padding: 18px 25px;
      margin: 0 0 20px;
      .title {
        .btn {
          float: right;
          line-height: 34px;
        }
        h3 {
          position: relative;
          text-transform: uppercase;
          font: 13px/36px $PNSemibold;
          padding: 0 0 26px;
          margin: 0 0 20px;
          &:after {
            content: "";
            width: 40px;
            height: 1px;
            background: $accordion_title_border_hover;
            position: absolute;
            top: 47px;
            left: 0;
          }
        }
      }
      dl {
        @include clearfix;
        dt {
          float: left;
          width: 160px;
          padding: 0 0 20px;
          font: 15px/20px $PNRegular;
        }
        dd {
          display: table;
          padding: 0 0 20px;
          font: 15px/20px $PNLight;
        }
      }
    }
  }
}

.caseForm {
  .ng-submitted, .form.ng-submitted {
    .ng-invalid:not(ng-form) {
      .acc-nav {
        border-color: $input-border;
        box-shadow: none;
      }
    }
  }
  .form-row {
    padding: 10px 0;
  }
  .formSection {
    padding: 10px 0;
    &.selected {
      background: $section_list_btn_fill_active;
      margin: 0 -20px;
      padding: 10px 20px;
    }
    .btn {
      line-height: 38px;
    }
    &.btns {
      .form-row {
        border-top: 1px solid $btn_default_bg;
        margin-top: 30px;
        padding-top: 40px;
        .btn {
          margin-right: 6px;
          line-height: 48px;
        }
      }
      .form-col.col-label + .form-col {
        width: auto;
      }
    }
    &.type01 {
      padding: 0;
      @include respond-to (tablet) {
        &.type01.selected {
          padding: 0 20px;
        }
      }
      .form-row {
        padding: 15px 0 20px;
        border-bottom: 1px dashed $app_border_hover;
      }
      .errorMsg {
        padding: 25px 0 10px 480px;
        @include respond-to (tablet) {
          padding: 25px 0 10px 42%;
        }
      }
      &:last-child .form-row {
        border: 0;
      }
    }
    .form-row {
      max-width: 1180px;
      margin: 0 auto;
      @include clearfix;
      position: relative;
      display: block;
      @at-root .selected .form-row:before {
        position: absolute;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: $section_list_btn_fill_hover;
        content: "";
        left: -50px;
        top: 50%;
        transform: translateY(-50%);
      }
      @at-root .selected.type01 .form-row:before {
        transform: none;
        top: 30px;
      }
    }
    .form-col {
      margin: 0;
    }
    .form-col.col-label {
      width: 400px;
      padding-right: 40px;
      margin: 0;
      float: left;
      line-height: 20px;
      min-height: 1px;
      @include respond-to (mobileLG) {
        width: 30%;
        padding-right: 2%;
      }
    }
    .form-col.col-label + .form-col {
      width: calc(100% - 700px);
      padding: 0;
      float: left;
      @include respond-to (mobileLG) {
        width: 44%;
      }
    }
    .control {
      width: 260px;
      padding: 0 0 0 120px;
      float: left;
      @include respond-to (tablet) {
        width: 22%;
        padding-left: 2%;
      }
      @include respond-to (mobileLG) {
        width: 22%;
        padding-left: 2%;
      }
    }
    .label {
      white-space: nowrap;
    }
    .errorMsg {
      clear: both;
      padding: 10px 0 20px 420px;
      color: $rejectd_color;
      font: 16px/20px $PNLight;
      @include respond-to (mobileLG) {
        padding: 10px 0 20px 32%;
      }
      strong {
        font-family: $PNSemibold;
      }
    }
    .docCol01 {
      float: left;
      width: 480px;
      padding: 10px 0 0;
      position: relative;
      @include respond-to (tablet) {
        width: 42%;
      }
      label {
        float: left;
      }
      .text {
        float: left;
        width: calc(100% - 42px);
        h3 {
          font: 15px/20px $PNSemibold;
        }
        p {
          font: 13px/20px $PNLight;
          display: inline-block;
        }
      }
      .lang {
        position: absolute;
        top: 10px;
        right: 50px;
        font: 15px/20px $PNSemibold;
        @include respond-to (mobileLG) {
          right: 15px;
        }
      }
      .info-tooltip {
        width: 490px;
        max-width: 490px;
        ul {
          margin: 20px 0 0;
          li {
            white-space: normal;
            &:before {
              content: "\2013";
              margin-right: 3px;
            }
          }
        }
      }
    }
    .docCol02 {
      float: left;
      width: 275px;
      padding: 10px 0 0;
      @include respond-to (tablet) {
        width: 34%;
      }
      .remove {
        float: right;
        width: 13px;
        margin: 3px 30px 0 0;
      }
      p {
        font: 14px/20px $PNLight;
        a {
          font: 15px/20px $PNSemibold;
        }
      }
      .uploadDoc {
        float: right;
      }
    }
  }
}

.caseApprove,
.caseRejected,
.caseRevision {
  min-width: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  margin-right: 6px;
  position: relative;
  &:after {
    width: 14px;
    height: 14px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.caseApprove:after {
  background: url(/assets/images/i-success.svg) no-repeat 50% 50%;
}

.caseRejected:after {
  background: url(/assets/images/i-cross-red.svg) no-repeat 50% 50%;
}

.caseRevision:after {
  background: url(/assets/images/i-revision.svg) no-repeat 50% 50%;
}

.caseApprove.active {
  background: $approved_bg;
  border-color: $approved_bg;
  &:hover {
    background: $approved_bg;
  }
  &:after {
    background: url(/assets/images/i-success-white.svg) no-repeat 50% 50%;
  }
}

.caseRejected.active {
  background: $rejectd_color;
  border-color: $rejectd_color;
  &:hover {
    background: $rejectd_color;
  }
  &:after {
    background: url(/assets/images/i-cross-white.svg) no-repeat 50% 50%;
  }
}

/* case popups */
.caseHistory {
  margin: -40px 0 80px;
  .row {
    border-top: 1px dashed $documents_point_border;
    text-align: left;
    padding: 25px 0 6px;
    &:first-child {
      border: 0;
    }
    h5 {
      font: 15px/20px $PNSemibold;
      margin: 0 0 15px;
    }
    h6 {
      font: 15px/20px $PNLight;
      a {
        font: 15px/20px $PNSemibold;
      }
    }
    p {
      font: 15px/20px $PNLight;
    }
    .error {
      color: $documents_error_color;
    }
  }
  &.revisionHistory {
    p {
      font: 14px/20px $PNLight;
    }
  }
}

.emailDocuments {
  padding: 0 0 105px;
  .form {
    label {
      font: 15px/16px $PNRegular;
      display: block;
    }
    input[type="text"] {
      margin: -5px 0 15px;
    }
    textarea {
      min-height: 100px;
      margin: -5px 0 0;
    }
  }
  &.rejectDocument {
    padding: 0 0 65px;
    label {
      color: $text_dark_color;
      font: 15px/20px $PNRegular;
    }
  }
}

/* case filters */
.caseFilter {
  margin-top: -9px;
  @include clearfix;

  &.showSideFilter .casesCnt {
    width: calc(100% - 260px);
    float: left;
  }
  .casesCnt {
    .caseFilterCntrl {
      @include clearfix;
      margin: 0 0 25px;
      .btn {
        margin-right: 14px;
        padding: 0 28px;
        &.fRight {
          float: right;
        }
        &:first-child {
          margin-right: 0;
        }
      }
      .tooltip-button {
        position: relative;
        display: inline-block;
        .tooltip {
          position: absolute;
          left: 100%;
          top: 50%;
          white-space: nowrap;
          padding: 14px;
          background: $white;
          border: 1px solid #c2c5cc;
          margin-left: 20px;
          text-align: left;
          display: none;
          @include transform(translateY(-50%));
          h4 {
            font-family: $PNSemibold;
            font-size: 13px;
            line-height: 20px;
          }
          .arrow {
            position: absolute;
            left: -10px;
            top: 50%;
            margin-top: -10px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid #c2c5cc;
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: -10px;
              left: 1px;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-right: 10px solid $white;
            }
          }
        }
        .btn:focus ~ .tooltip {
          display: block;
        }
      }
    }
    .checkbox {
      margin: 0;
    }
    td {
      line-height: 22px;
      vertical-align: middle
    }
  }

  .sideFilter {
    position: relative;
    float: right;
    width: 320px;
    padding: 65px 70px 0 35px;
    margin: -60px -207px -11px -200px;
    border-left: 1px solid $header_border;
    background: $footer_bg;
    .form {
      .form-row {
        .form-col {
          display: block;
          padding: 0;
          width: 320px;
        }
        .acc-nav {
          .selected {
            max-width: 260px;
          }
        }
        .date-picker .calendar [uib-datepicker-popup-wrap] {
          bottom: 100%;
        }
      }
      .statusRow {
        padding: 0 0 10px;
        label {
          width: 100%;
        }
      }
      .deadline {
        .date-picker {
          float: left;
          width: calc(50% - 10px);
        }
        .separator {
          width: 20px;
          text-align: center;
          float: left;
          line-height: 40px;
        }
      }
      .btns {
        .btn {
          min-width: 98px;
          margin-right: 8px;
          margin-bottom: 20px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .close {
      position: absolute;
      top: 65px;
      right: 25px;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
    .multiple-select {
      .close {
        position: relative;
        top: 0;
        right: 0;
        float: right;
      }
    }
  }
  &.showSideFilter .sideFilter {
    display: block;
  }

  @media only screen and (max-width: 1600px) {
    width: 100%;
    max-width: none !important;
    &.showSideFilter {
      .casesCnt {
        width: calc(100% - 440px);
      }
    }
    .sideFilter {
      margin-right: -20px;
    }
  }
  .case-change-status {
    .popup-body {
      min-height: 450px;
    }
    h4 {
      font: 20px/30px $PNSemibold;
      margin-bottom: 20px;
    }
    .form-col {
      width: 100%;
      display: block;
      text-align: left;
      padding: 5px 0;
      & + .form-col {
        padding-left: 0;
      }
    }
    &.confirmation {
      .popup-body {
        min-height: 0;
      }
    }
  }
}
case-managers-popup {
  .manager {
    .close {
      width: 12px;
      position: relative;
      float: right;
      top: -18px;
      cursor: pointer;
      svg {
        width: 100%;
        max-height: 12px;
        path {
          @include transition($property: fill, $duration: .15s, $animation: 'ease-out');
        }
      }
      &:hover {
        svg {
          path {
            fill: $documents_remove_hover_color;
          }
        }
      }
    }
  }
}


