.account.dependent {
  .documents {
    .form-footer {
      margin-bottom: 75px;
      @include clearfix;
      .form-footer-col {
        width: 50%;
        float: left;
      }
    }
  }
}

.documents {
  .form-header {
    margin-bottom: 23px;
    @include clearfix();
    .btn {
      float: right;
      width: 16.666%;
      padding: 0;
      line-height: 33px;
      &.btn-default {
        line-height: 38px;
        font-size: 15px;
      }
    }
    label {
      margin-left: 20px;
      line-height: 33px;
      .checkbox {
        margin-top: 5px;
      }
      span {
        font-family: $PNSemibold;
      }
    }
  }
  label, .point {
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    vertical-align: middle;
    span {
      font-family: $PNLight;
    }
  }
  .additional-label {
    font-size: 16px;
  }
  .check-all, .additional-label {
    font-family: $PNSemibold;
    width: 33.333%;
    float: left;
  }
  .col-4 {
    width: 33.333%;
    float: left;
  }
  .col-5 {
    width: 41.666%;
    float: left;
  }
  .description {
    float: left;
    max-width: 75%;
    .name {
      font-family: $PNSemibold;
      font-size: 15px;
    }
    .hint {
      font-family: $PNLight;
      font-size: 13px;
      line-height: 20px;
      color: $description_color;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .form-row {
    margin: -1px 0 0;
    padding: 17px 20px 0;
    box-sizing: border-box;
    @include transition($duration: .15s, $animation: 'ease-out');
    .point {
      display: block;
      padding-bottom: 5px;
      border-bottom: 1px dashed $documents_point_border;
      @include clearfix();
      .errorMsg {
        padding-left: 680px;
        max-width: 1040px;
      }
    }
    &:last-child {
      .point {
        border: none;
      }
    }
    &:hover {
      background: $documents_row_fill_hover;
      cursor: pointer;
      .point {
        border-color: transparent;
      }
    }
    .files {
      width: 66.666%;
      float: left;
      padding-left: 10px;
      box-sizing: border-box;
      .row {
        min-height: 50px;
        box-sizing: border-box;
        @include clearfix;
        .lang {
          width: 12.5%;
          display: block;
          float: left;
          font-family: $PNSemibold;
        }
        .file {
          width: 87.5%;
          min-height: 50px;
          padding-bottom: 20px;
          float: right;
          a {
            font-family: $PNSemibold;
            font-size: 15px;
            line-height: 20px;
          }
          .col-left {
            float: left;
            width: 28.5%;
            padding: 0 10px;
            box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .col-right {
            float: right;
          }
          .upload {
            float: left;
            width: 28.5%;
            padding: 0 10px;
            font-family: $PNLight;
            box-sizing: border-box;
          }
          .uploaded {
            line-height: 20px;
            span {
              font-family: $PNRegular;
            }
          }
          .uploading {
            float: right;
            color: $documents_message_color;
            font-size: 15px;
          }
          .upload-error {
            width: 50%;
            float: left;
            padding: 0 10px;
            color: $documents_error_color;
            box-sizing: border-box;
          }
          .line-progress {
            width: 50%;
            float: left;
            padding: 0 10px;
            box-sizing: border-box;
            .progress {
              @include transition(all, .15s);
            }
            .percentage {
              font-size: 12px;
              font-family: $PNRegular;
            }
          }
          .translation-request {
            margin-right: 60px;
            line-height: 20px;
          }
          .remove {
            float: right;
            .icon {
              display: inline-block;
              width: 12px;
              vertical-align: middle;
              cursor: pointer;
              svg {
                width: 100%;
                max-height: 12px;
                path {
                  @include transition($property: fill, $duration: .15s, $animation: 'ease-out');
                }
              }
            }
            &:hover {
              .icon {
                svg {
                  path {
                    fill: $documents_remove_hover_color;
                  }
                }
              }
            }
          }
        }
        .upload, .translation-request {
          float: left;
          width: 25%;
          padding: 0 10px;
          font-family: $PNLight;
          box-sizing: border-box;
        }
        .not-uploaded {
          float: left;
          width: 28.5%;
          font-size: 15px;
          line-ght: 20px;
          color: $documents_message_color;
          padding: 0 10px;
          box-sizing: border-box;
        }
      }
    }
  }
  .info-tooltip {
    min-width: 400px;
    max-width: 900px;
    ul {
      li {
        white-space: pre-line;
      }
    }
  }
  .user-uploaded-documents, .no-translations {
    margin: 10px 0 0px;
    padding: 0 0 0 60px;
  }
  .no-translations {
    margin-bottom: 25px;
    .col-5 {
      width: 40%;
    }
    .form-header {
      margin-bottom: 35px;
      label {
        margin: 0;
      }
    }
    .form-row {
      padding: 20px 0 0;
      &:hover {
        background: none;
        cursor: default;
        .point {
          border-color: $documents_point_border;
        }
      }
      .point {
        .errorMsg {
          padding-left: 645px;
        }
      }
      .description {
        .hint {
          margin: 0;
        }
      }
      .files {
        width: 58.333%;
        box-sizing: border-box;
        padding-left: 0;
        .file {
          width: 100%;
        }
        .row {
          .upload, .translation-request {
            width: 28.5%;
          }
        }
      }
    }
  }
  @include respond-to(mobileLG) {
    .check-all {
      width: 75%;
      text-align: left;
      .label {
        padding: 0 10px 0 42px;
        line-height: 20px;
      }
    }
    .form-header {
      .btn {
        width: 25%;
        min-width: initial;
        padding: 5px;
        font-size: 12px;
        line-height: 16px;
      }
    }
    .col-4, .col-5 {
      width: 100%;
    }
    .form-row {
      .files {
        margin-top: 20px;
        width: 100%;
        .row {
          margin-bottom: 10px;
          .lang {
            width: 25%;
          }
          .translation-request {
            float: left;
          }
          .file {
            width: 75%;
            .col-left {
              width: 70%;
            }
          }
        }
      }
    }
    .no-translations {
      .form-row {
        .files {
          width: 100%;
          .file {
            width: 100%;
          }
        }
      }
    }
  }
}

&.user-uploaded-documents {
  .form-row {
    padding-left: 0;
    border-bottom: 1px dashed $documents_point_border;
    &:last-child {
      border-color: transparent;
    }
    &:hover {
      background: none;
    }
    .description {
      min-height: 10px;
      min-width: 10px;
    }
    .files {
      width: 58.33%;
      .row {
        .file {
          width: 100%;
          .col-left {
            width: 50%;
            margin-left: 25.5%;
          }
        }
      }
    }
  }
}

.document-upload, .request-document {
  .popup-body {
    min-height: 458px;
  }
  h4 {
    font-size: 20px;
    font-family: $PNSemibold;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .drag-drop {
    border: 1px solid $drag_drop_border;
    padding: 45px 100px 25px;
    border-radius: 3px;
    display: block;
    @include respond-to(mobileLG) {
      padding: 45px;
    }
    input[type="file"] {
      display: none;
    }
    strong {
      font-family: $PNSemibold;
      font-size: 15px;
      line-height: 20px;
    }
    label {
      display: inline;
      color: #4c9ce0;
      cursor: pointer;
      font: 13px/25px $PNLight;
      vertical-align: baseline;
    }
    p {
      font-size: 13px;
      line-height: 20px;
    }
  }
  textarea {
    height: 200px;
  }
  .hint {
    margin-top: 40px;
    font-size: 14px;
    line-height: 20px;
    color: $popup_hint_color;
  }
  .file-list {
    margin: 50px 0;
    h3 {
      font-size: 15px;
      line-height: 20px;
      text-align: left;
      margin-bottom: 20px;
    }
    li {
      padding: 14px 0;
      @include clearfix;
      .name, .error {
        float: left;
        font: 15px $PNSemibold;
        width: 95%;
        text-align: left;
        padding-right: 30px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .error {
        font: 15px $PNLight;
        color: #cf3951;
      }
    }
  }
  .remove {
    float: right;
    .icon {
      display: inline-block;
      width: 12px;
      vertical-align: middle;
      cursor: pointer;
      svg {
        width: 100%;
        max-height: 12px;
        path {
          @include transition($property: fill, $duration: .15s, $animation: 'ease-out');
        }
      }
    }
    &:hover {
      .icon {
        svg {
          path {
            fill: $documents_remove_hover_color;
          }
        }
      }
    }
  }
}

.request-document {
  .popup {
    .popup-holder {
      .form {
        text-align: left;
        .check-label {
          margin-top: 10px;
        }
        .form-col.col-label + .form-col {
          width: 66.66%;
        }
      }
    }
  }
}
