%s-nav_link_state {
  background: $white;
  border: 1px solid $nav_border_active;
  border-bottom: none;
}

.header {
  height: $header_height;
  //margin-bottom: $header_indent;
  .header-inner {
    position: relative;
    z-index: 100;
    background: $header_bg;
    transform: translateZ(0);
    border-bottom: 1px solid #f2f2f2;
    &.fixed {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
    }
    .header-content {
      max-width: $page_width;
      padding: 0 20px;
      margin: 0 auto;
      position: relative;
      @include clearfix;
      .logo {
        width: $logo_width;
        height: $logo_height;
        float: left;
        @include hide-text;
        a {
          display: block;
          height: 100%;
          background: url('/assets/images/logo.svg') no-repeat 0 50%;
          svg {
            height: 100%;
            width: 100%;
          }
        }
      }
      .menuBtn {
        display: none;
        float: left;
        width: 17px;
        height: 18px;
        cursor: pointer;
        margin: 25px 15px 0 0;
        position: relative;
        span {
          display: block;
          width: 100%;
          height: 3px;
          background: #c2c5cc;
          transition: .3s ease-in-out;
          position: absolute;
          left: 0;
          top: 0;
          &:first-child {
            margin: 0;
          }
          &:nth-child(2),
          &:nth-child(3) {
            top: 9px;
          }
          &:nth-child(4) {
            top: 18px;
          }
        }
        &.open {
          span:nth-child(1),
          span:nth-child(4) {
            width: 0;
          }
          span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }
      }
      #nav {
        margin-left: 80px;
        margin-bottom: -1px;
        float: left;
        font-size: 16px;
        font-family: $PNSemibold;
        .nav-list {
          .nav-item {
            float: left;
            border-bottom: 3px solid transparent;
            &:hover {
              border-bottom-color: #4c9ce0;
              .nav-link {
                @extend %s-nav_link_state;
              }
            }
            &.active, &.activeMenu {
              border-bottom-color: #4c9ce0;
              .nav-link {
                @extend %s-nav_link_state;
              }
            }
            &:first-child {
              margin-left: 0;
            }
            .nav-link {
              color: $nav_color;
              display: block;
              padding: 0 26px;
              box-sizing: border-box;
              border: 1px solid transparent;
              border-width: 1px 1px 0;
              line-height: 66px;
              padding-top: 1px;
              cursor: pointer;
              @include transition($property: background);
            }
          }
        }
      }
      .saved {
        float: left;
        margin-left: 90px;
        font-size: 16px;
        line-height: 70px;
        color: $saved_color;
        @include respond-to(desktopSM) {
          margin-left: 20px;
        }
        @include respond-to(tablet) {
          display: none;
        }
      }
    }
    .acc-nav {
      float: right;
      border-left: 1px solid $header_border;
      border-right: 1px solid $header_border;
      border-bottom: 1px solid $header_border;
      margin-bottom: -1px;
      .dropdown-toggle {
        padding: 0 38px 0 25px;
        overflow: auto;
      }
      &.dropdown-toggle {
        padding: 0 38px 0 25px;
      }
      .selected {
        font-size: 14px;
        line-height: 74px;
      }
      @include respond-to(tablet) {
        padding: 0 40px 0 15px;
      }
    }
    .profile {
      line-height: 70px;
      box-sizing: border-box;
      font-size: 16px;
      @include clearfix();
      .name {
        float: left;
        text-overflow: ellipsis;
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        strong {
          font-family: $PNSemibold;
        }
      }
      .img {
        float: left;
        margin: 18px 15px 18px 0;
        background: $white;
        border-radius: 50%;
        width: 32px;
        height: 32px;
      }
      + .options {
        width: 100%;
        left: auto;
        min-width: 180px;
        ul {
          li {
            @include transition(background-color, 0.15s);
            &:hover {
              background-color: $header_bg;
            }
          }
        }
      }
    }
    .auth-box {
      float: right;
      padding: 17px 0;
      .btn {
        line-height: 33px;
        font-family: $PNRegular;
        margin-left: 15px;
        min-width: 96px;
        padding: 0 28px;
      }
    }
  }
  .language-phone {
    text-align: right;
    font-size: 14px;
    font-family: $PNSemibold;
    .language-form {
      display: inline-block;
      vertical-align: top;
      .acc-nav {
        border: none;
        padding: 0;
        padding-right: 45px;
        .options {
          text-align: left;
          ul {
            li {
              padding: 0 25px;
            }
          }
        }
        .selected {
          padding: 0 10px 0 25px;
          min-height: 30px;
        }
        @include respond-to(tablet) {
          // padding: 0 25px 0 10px;
          .selected {
            padding: 0 20px 0 10px;
          }
          .options {
            ul {
              li {
                padding: 0 20px;
              }
            }
          }
        }
      }
    }
    .phone {
      display: inline-block;
      vertical-align: top;
      margin-left: 25px;
      line-height: 74px;
      strong {
        font-family: $PNSemibold;
      }
      @include respond-to(tablet) {
        margin-left: 10px;
      }
    }
  }
  &.header-with-bar {
    height: 100px;
    .header-bar {
      background-color: #424859;
      box-shadow: 0 -1px 0 #f2f2f2;
      .header-content {
        max-width: $page_width;
        margin: 0 auto;
        color: $white;
        font-size: 14px;
        padding: 0;
        @include clearfix;
        .acc-nav {
          padding-right: 0;
          border-right: 1px solid #363b49;
          border-left: 1px solid #363b49;
          .selected {
            line-height: 30px;
            padding: 0 38px 0 10px;
            font-size: 14px;
            &:after {
              right: 15px;
            }
          }
          .options {
            background-color: #424859;
            border-color: #363b49;
            z-index: 101;
            ul {
              li {
                line-height: 30px;
                padding: 0 10px;
                font-size: 14px;
                border-color: #363b49;
                @include transition(background-color, 0.15s);
                &:hover {
                  background-color: #575f75;
                }
              }
            }
          }
          &.active {
            .selected {
              background-color: #424859;
            }
          }
        }
        .phone {
          line-height: 30px;
          margin-left: 10px;
          font-size: 14px;
          .icon {
            display: inline-block;
            width: 12px;
            vertical-align: middle;
            margin-right: 2px;
            svg {
              width: 100%;
              max-height: 12px;
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

.account-header {
  background-color: #fbfbfb;
  border: 1px solid #eef0f0;
  padding: 10px;
  margin-bottom: 20px;
  @include clearfix;

  .image-cropper {
    text-align: center;
    padding-top: 80px;

    .popup-body {
      display: inline-block;
      padding: 20px;
      background: $white;
    }

    .cropArea {
      display: block;
      width: 448px;
      height: 336px;
      margin-bottom: 15px;
      overflow: hidden;

      img-crop {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }
  }

  .account-header-details {
    width: 50%;
    float: left;
    .img-holder {
      width: 100px;
      height: 100px;
      overflow: hidden;
      float: left;
      margin-right: 30px;
      position: relative;
      cursor: pointer;
      /* img */
      .placeholder {
        width: 100%;
        height: 100%;
        background: $white;
      }
      .action {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        color: $white;
        font-size: 13px;
        line-height: 20px;
        @include transform(translateY(0));
        @include transition(transform, .15s, 'ease-out')
      }
    }
    .profile-details {
      float: left;
      padding: 20px 0;
      .name {
        font-size: 30px;
      }
      .applications {
        color: #797c86;
        font-family: $PNSemibold;
        line-height: 20px;
        margin-top: 15px;
      }
    }
  }
  .account-header-btns {
    width: 50%;
    float: left;
    text-align: right;
    padding: 25px 20px;
    box-sizing: border-box;
    .btn {
      font-size: 15px;
      margin-left: 5px;
    }
  }
}

@media (max-width: 1179px) {
  .header {
    .header-inner {
      .header-content {
        #nav {
          margin-left: 70px;
        }
      }
    }
    &.header-with-bar {
      .header-bar {
        .header-content {
          padding: 0 20px;
        }
      }
    }
  }
}

@media (max-width: 1040px) {
  .header {
    .header-inner {
      .header-content {
        #nav {
          max-height: 0;
          transition: max-height 0.15s ease-out;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background: #f9f9f9;
          overflow: hidden;
          &.open {
            visibility: visible;
            opacity: 1;
            display: block;
            max-height: 196px;
            margin: 0;
          }
          .nav-list {
            .nav-item {
              float: none;
              border: none;
              .nav-link {
                float: none;
                font: 20px/48px $PNRegular;
                position: relative;
                border: none;
                padding: 0 26px;
                border-top: 1px solid #f2f2f2;
              }
            }
          }
        }
        .menuBtn {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .header {
    .header-inner {
      .header-content {
        .logo {
          width: 95px;
        }
        .auth-box {
          .btn {
            margin-left: 9px;
            min-width: 0;
            padding: 0 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    .header-inner {
      .header-content {
        .auth-box {
          .btn {
            padding: 0 8px;
          }
        }
      }
    }
  }
}
