<input
  [type]="visiblePassword ? 'text' : 'password'"
  #password="ngModel"
  name="password"
  class="password"
  [placeholder]="'profile_password' | translate"
  [(ngModel)]="innerValue"
  (ngModelChange)="onChangeCallback(innerValue)"
  [required]="required"
  [class]="customClass"
  autocomplete="new-password">
<a
  tabindex="-1"
  class="show-password"
  (click)="showPassword()"
  (mouseout)="hidePassword()">{{'login_show_password' | translate}}</a>
<div class="password-tooltip" *ngIf="withTooltip">
  <h4>{{'password_rules' | translate}}</h4>
  <ul>
    <li>{{'password_rules1' | translate}}</li>
    <li>{{'password_rules2' | translate}}</li>
    <li>{{'password_rules3' | translate}}</li>
  </ul>
  <div class="arrow"></div>
</div>
<div class="validation-messages" *ngIf="password.errors && password.touched">
  <div class="message error-required show" *ngIf="password.errors.required">
    {{'user_registration_missing_password' | translate}}
  </div>
  <div class="message error-pattern">
    {{'user_registration_password_not_strong' | translate}}
  </div>
</div>
