input[type="checkbox"] {
	display: none;
	&:checked+label {
		.checkbox {
			border-color: transparent;
			svg {
				fill: $checkbox_fill_checked;
			}
		}
	}
  &:disabled+label {
    .checkbox {
      background: $documents_row_fill_hover;
    }
  }
}
.checkbox {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 20px;
	background-color: $white;
	border: 1px solid $checkbox_border;
	border-radius: 3px;
	cursor: pointer;
	@include transition($property: border-color, $duration: .15s, $animation: 'ease-out');
	svg {
		margin: -1px;
		width: 22px;
		fill: transparent;
		@include transition($property: fill, $duration: .15s, $animation: 'ease-out')
	}
}
