.popover {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	.popover-wrap {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		popover {
			display: block;
			width: 100%;
			max-width: 1100px;
			background-color: $white;
			border: 1px solid $popover_border;
			padding: 30px;
			box-sizing: border-box;
			text-align: center;
			icon {
				margin-top: -10px;
				width: 12px;
				display: inline-block;
				float: right;
				cursor: pointer;
				display: none;
				svg {
					width: 100%;
					max-height: 12px;
				}
			}
		}
	}
	&.fixed {
		bottom: 90px;
		padding: 0 20px;
		position: fixed;
		.popover-wrap {
			popover {
				margin-left: 13px;
				icon {
					display: block;
				}
			}
		}
	}
}