toastr-msg {
    display: none;

    .toastr-msg {
        position: absolute;
        z-index: 999;
        background: #fff;
        padding: 16px 30px;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 2px 5px $toastr_box_shadow;
        font-size: 15px;
        color: $text_dark_color;
        font-family: "Proxima N W10 Smbd", Arial, Helvetica, sans-serif;

        .icon {
            margin-right: 16px;
            position: relative;
            top: 2px;
        }

        span {
            display: inline-block;
        }
    }
}
