.ui-select-container {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #c2c5cc;
  background: $white;
  border-radius: 2px;
  @include clearfix();
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    right: 20px;
    border-top: 6px solid $input_border;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  &.open {
    border-bottom: transparent;
    &.direction-up {
      border-bottom: 1px solid #c2c5cc;
      border-top: transparent;
    }
    &:after {
      border-top: none;
      border-bottom: 6px solid $input_border;
    }
  }
  .ui-select-no-choice {
    border: none;
  }
  input.ui-select-search {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 36px;
    padding: 0 40px 0 20px;
    color: $text_dark_color;
    font-family: $PNLight;
    white-space: nowrap;
    text-overflow: ellipsis;
    &::-webkit-input-placeholder {
      color: $text_dark_color;
    }
    &:-ms-input-placeholder {
      color: $text_dark_color;
    }
  }
  .ui-select-choices {
    background: $white;
    border: 1px solid $input_border;
    z-index: 99;
    max-height: 210px;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    .ui-select-choices-row {
      padding: 0 20px;
      font-size: 15px;
      line-height: 30px;
      margin: 10px 0;
      border: none;
      white-space: normal;
      @include transition(background-color, .15s);
      &.active {
        background: #f7f7f7;
      }
      a {
        color: $text_dark_color;
        display: block;
        line-height: 50px;
      }
    }
  }
  .ui-select-match {
    .btn {
      padding: 0 5px;
      line-height: 28px;
      min-width: initial;
      margin: 4px;
      background: $btn_back_bg;
      border: 1px solid $input_border;
      color: $text_dark_color;
      max-width: calc(100% - 45px);
      span[uis-transclude-append] {
        span {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          width: calc(100% - 15px);
          text-overflow: ellipsis;
          line-height: 28px;
          padding-right:15px;
          margin-bottom: -9px;
        }
      }
    }
    .close {
      position: relative;
      top: 0;
      right: 0;
      float:right;
    }
  }
}
