<section id="content" class="content" ng-class="{gradient: $root.gradientBg}">
  <div class="content-inner">
    <div class="page-wrap individual-visas">

      <div *ngIf="isHeaderVisible">
        <img-header
          [subHeader]="'businessVisas_pageTitle'"
          [header]="'businessVisas_subtitle'"
          [p]="'businessVisas_hint'"
        ></img-header>

        <div class="page-content container">
          <div class="individual-visas-links">
            <div class="individual-visas-links-nav">
              <ul>
                <li>
                  <a [routerLink]="['how-it-works']" routerLinkActive="active">
                    {{ 'businessVisas_labels_howItWorks' | translate }}
                  </a>
                </li>
                <li>
                  <a [routerLink]="['list']" routerLinkActive="active">
                    {{ 'businessVisas_labels_pricing' | translate }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="page-content container">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</section>

<my-pre-footer></my-pre-footer>
