<div class="step-holder step-type01 individual-step01">
  <div class="step-inner">
    <span class="step-label">{{ 'individualVisas_step1_label' | translate }}</span>
    <h2>{{ 'individualVisas_step1_title' | translate }}</h2>
    <div [innerHTML]="'individualVisas_step1_descr' | translate"></div>
    <a [routerLink]="['../../signup']" class="btn btn-default">{{ 'individualVisas_step1_btn' | translate }}</a>
  </div>
</div>
<div class="steps-diagonal-gradient">
  <div class="step-holder step-type02 individual-step02">
    <div class="step-left step-half-width step-text">
      <div class="step-inner">
        <span class="step-label">{{ 'individualVisas_step2_label' | translate }}</span>
        <h2>{{ 'individualVisas_step2_title' | translate }}</h2>
        <div [innerHTML]="'individualVisas_step2_descr' | translate"></div>
        <a [routerLink]="['../list']" class="btn btn-grey tablet-hide"
        >{{ 'individualVisas_step2_btn' | translate }}</a>
      </div>
    </div>
    <div class="step-right step-half-width step-types">
      <ul class="step-visa-type">
        <li>
          <img style="width: 29px; margin-right: 49px;  margin-top: -7px;" src="/assets/images/tourism.svg" alt="tourism icon">
          <h3>{{ 'individualVisas_step2_col1_title' | translate }}</h3>
          <p>{{ 'individualVisas_step2_col1_descr' | translate }}</p>
        </li>
        <li>
          <img style="width: 48px; margin-left: -5px; margin-right: 42px;" src="/assets/images/student.svg" alt="student icon">
          <h3>{{ 'individualVisas_step2_col2_title' | translate }}</h3>
          <p>{{ 'individualVisas_step2_col2_descr' | translate }}</p>
        </li>
        <li>
          <img style="width: 50px; margin-left: -5px; margin-right: 40px;" src="/assets/images/business.svg" alt="business icon">
          <h3>{{ 'individualVisas_step2_col3_title' | translate }}</h3>
          <p>{{ 'individualVisas_step2_col3_descr' | translate }}</p>
        </li>
      </ul>
      <a [routerLink]="['../list']" class="btn btn-grey tablet-show"
      >{{ 'individualVisas_step2_btn' | translate }}</a>
    </div>
  </div>
  <div class="step-holder step-type01 individual-step03">
    <div class="step-inner">
      <span class="step-label">{{ 'individualVisas_step3_label' | translate }}</span>
      <h2>{{ 'individualVisas_step3_title' | translate }}</h2>
      <div [innerHTML]="'individualVisas_step3_descr' | translate"></div>
    </div>
    <div class="step-columns">
      <div class="step-third-width">
        <h3>{{ 'individualVisas_step3_col1_title' | translate }}</h3>
        <p>{{ 'individualVisas_step3_col1_descr' | translate }}</p>
      </div>
      <div class="step-third-width">
        <h3>{{ 'individualVisas_step3_col2_title' | translate }}</h3>
        <p>{{ 'individualVisas_step3_col2_descr' | translate }}</p>
      </div>
      <div class="step-third-width">
        <h3>{{ 'individualVisas_step3_col3_title' | translate }}</h3>
        <p>{{ 'individualVisas_step3_col3_descr' | translate }}</p>
      </div>
    </div>
  </div>
</div>
<div class="step-linear-gradient">
  <div class="step-holder step-type03 individual-step04">
    <div class="step-left step-half-width tablet-hide">
      <img src="/assets/images/jpg/img-mac.png" alt="Create Application image"/>
    </div>
    <div class="step-right step-half-width">
      <div class="step-inner">
        <span class="step-label">{{ 'individualVisas_step4_label' | translate }}</span>
        <h2>{{ 'individualVisas_step4_title' | translate }}</h2>
        <div class="tablet-show" style="margin: 40px 0;">
          <img src="/assets/images/jpg/img-mac.png" alt="Create Application image"/>
        </div>
        <div [innerHTML]="'individualVisas_step4_descr' | translate"></div>
      </div>
    </div>
  </div>
  <div class="step-holder step-type01 individual-step05">
    <div class="step-inner">
      <span class="step-label">{{ 'individualVisas_step5_label' | translate }}</span>
      <h2>{{ 'individualVisas_step5_title' | translate }}</h2>
      <div [innerHTML]="'individualVisas_step5_descr' | translate"></div>
    </div>
    <div class="step-table">
      <table>
        <tbody>
        <tr>
          <td>
            <h3>{{ 'individualVisas_step5_col1_title' | translate }}</h3>
            <p>{{ 'individualVisas_step5_col1_descr' | translate }}</p>
          </td>
          <td>
            <div class="price">{{ 'individualVisas_step5_col1_price' | translate }}</div>
            <div class="type">{{ 'individualVisas_step5_col1_type' | translate }}</div>
          </td>
        </tr>
        <tr>
          <td>
            <h3>{{ 'individualVisas_step5_col2_title' | translate }}</h3>
            <p>{{ 'individualVisas_step5_col2_descr' | translate }}</p>
          </td>
          <td>
            <div class="price">{{ 'individualVisas_step5_col2_price' | translate }}</div>
            <div class="type">{{ 'individualVisas_step5_col2_type' | translate }}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="step-inner">
      <a [routerLink]="['../list']" class="btn btn-grey">{{ 'individualVisas_step5_btn' | translate }}</a>
    </div>
  </div>
</div>
<div class="step-holder step-type04 step-dark individual-step06">
  <div class="step-left step-half-width">
    <div class="step-inner">
      <span class="step-label">{{ 'individualVisas_step6_label' | translate }}</span>
      <h2>{{ 'individualVisas_step6_title' | translate }}</h2>
      <div class="mobileMD-show">
        <img src="/assets/images/jpg/img-form.png" alt="Get Attorney Review image"/>
      </div>
      <ul class="step-list">
        <li>
          <img src="/assets/images/check.svg" alt="check icon">
          <h3>{{ 'individualVisas_step6_col1_title' | translate }}</h3>
          <p>{{ 'individualVisas_step6_col1_descr' | translate }}</p>
        </li>
        <li>
          <img src="/assets/images/check.svg" alt="check icon">
          <h3>{{ 'individualVisas_step6_col2_title' | translate }}</h3>
          <p>{{ 'individualVisas_step6_col2_descr' | translate }}</p>
        </li>
        <li>
          <img src="/assets/images/check.svg" alt="check icon">
          <h3>{{ 'individualVisas_step6_col3_title' | translate }}</h3>
          <p>{{ 'individualVisas_step6_col3_descr' | translate }}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="step-right mobileMD-hide step-half-width">
    <img src="/assets/images/jpg/img-form.png" alt="Get Attorney Review image"/>
  </div>
</div>
<div class="step-holder step-type01 individual-step07">
  <div class="step-inner">
    <span class="step-label">{{ 'individualVisas_step7_label' | translate }}</span>
    <h2>{{ 'individualVisas_step7_title' | translate }}</h2>
    <div [innerHTML]="'individualVisas_step7_descr' | translate"></div>
  </div>
  <div class="step-columns">
    <div class="step-third-width">
      <img src="/assets/images/paper.svg" alt="paper icon">
      <h3>{{ 'individualVisas_step7_col1_title' | translate }}</h3>
      <p>{{ 'individualVisas_step7_col1_descr' | translate }}</p>
    </div>
    <div class="step-third-width">
      <img src="/assets/images/letter.svg" alt="letter icon">
      <h3>{{ 'individualVisas_step7_col2_title' | translate }}</h3>
      <p>{{ 'individualVisas_step7_col2_descr' | translate }}</p>
    </div>
    <div class="step-third-width">
      <img src="/assets/images/letter.svg" alt="letter icon">
      <h3>{{ 'individualVisas_step7_col3_title' | translate }}</h3>
      <p>{{ 'individualVisas_step7_col3_descr' | translate }}</p>
    </div>
  </div>
</div>
<div class="help-block">
  <h3>{{ 'individualVisas_help_title' | translate }}</h3>
  <h2>{{ 'individualVisas_help_subtitle' | translate }}</h2>
  <p>
    <span>{{'individualVisas_help_descr' | translate}}</span>
    <a [routerLink]="['../../faq']">{{ 'prefooter_links_faq' | translate }}</a>
  </p>
  <a [routerLink]="['../../login']" [queryParams]="{scheduling: true}" class="btn btn-default">
    {{ 'individualVisas_help_schedule' | translate }}
  </a>
</div>
