/* Reset */
@import "./assets/scss/reset/all";

/* Utilities */
@import "./assets/scss/utilities/all";

/* Settings */
@import "./assets/scss/settings/all";

/* Base */
@import "./assets/scss/base/all";

/* Patterns */
@import "./assets/scss/patterns/all";

/* Blocks */
@import "./assets/scss/blocks/all";

/* Layouts */
@import "./assets/scss/layouts/all";

/* bs */
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";


/* Image cropper styles */
img-crop {
  width:100%;
  height:100%;
  display:block;
  position:relative;
  overflow:hidden;
  canvas {
    display:block;
    position:absolute;
    top:50%;
    left:50%;

    // Disable Outline
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
  }
}


// Custom Bootstrap
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
