$white: #ffffff;

$text_dark_color: #2a2b2e;
$link_color: #4c9ce0;
$link_color_hover: #448ac7;
$app_text_dark_color: #666973;
$saved_color: #c7c9d3;

// Btns
$btn_default_bg: #4c9ce0;
$btn_default_bg_hover: #69b4f3;
$btn_default_color_disabled: #d5e7f7;
$btn_default_bg_disabled: #a5cdef;

$btn_grey_border: #dcdee3;
$btn_grey_color: #2a2b2e;
$btn_grey_gradient_to: #fafbfc;
$btn_grey_disabled: #a9aaab;

$btn_back_border: #eef0f0;
$btn_back_bg: #fafafa;
$btn_back_fill: #c2c5cc;
$btn_back_fill_hover: #4c9ce0;

$btn_red_bg: #cf3951;
$btn_red_hover: #eb415d;

$btn_show_password_bg: #fafafa;
$btn_show_password_color: #c7c9d3;

$btn_help_bg: #344763;
$btn_separator: #3e88d8;

// Forms
$input_border: #c2c5cc;
$input_border_focus: #8ab5e6;
$input_border_error: #de6e85;
$input_box_shadow: #d7dbe2;
$input_box_shadow_focus: #ffd0da;

$dashboard_empty_bg: #fcfcfc;
$dashboard_empty_border: #f2f2f2;

$description_color: #666973;

$app_bg: #fcfcfc;
$app_border: #f5f5f5;
$app_border_gradient01: #fefefe;
$app_border_gradient02: #fdfdfd;
$app_border_hover: #c7c9d3;
$app_border_box_shadow: #dedfe3;
$app_title_color: #666973;

$acc_nav_border: #c2c5cc;

$price_color: #54af5d;

$footer_bg: #fafafa;
$footer_border: #e6e6e6;

$header_bg: #fafafa;
$header_border: #f2f2f2;

$nav_border_active: #f2f2f2;
$nav_border_bottom_active: #4c9ce0;
$nav_color: #2a2b2e;

$section_list_btn_fill: #c2c5cc;
$section_list_btn_border_hover: #eef0f0;
$section_list_btn_border_active: #f2f2f2;
$section_list_btn_bg_hover: #fafafa;
$section_list_btn_fill_hover: #4c9ce0;
$section_list_btn_fill_active: #f7f7f7;
$section_list_drop_border: #c2c5cc;
$section_list_drop_link_bg: #f7f7f7;
$section_list_drop_link_fill: #54af5d;


$progressbar_bar_bg: #fafafa;
$progressbar_bar_border: #eef0f0;
$progressbar_color: #666973;
$progressbar_border: #158c1f;
$progressbar_bg: #54af5d;

$select_divider_fill: #f7f7f7;

$popup_footer_fill: #f7f7f7;
$popup_border: #565656;
$popup_hint_color: #666973;

$cabinet_form_fill: #f7f7f7;
$cabinet_form_border: #e8ebeb;

$accordion_title_fill: #fcfcfc;
$accordion_title_border: #f2f2f2;
$accordion_title_shadow: #dedfe3;
$accordion_title_border_hover: #c7c9d3;

$popover_border: #f2f2f2;

$documents_point_border: #c7c9d3;
$documents_row_fill_hover: #f7f7f7;
$documents_message_color: #c7c9d3;
$documents_error_color: #cf3951;
$documents_remove_hover_color: #cf3951;

$drag_drop_border: #4c9ce0;

$checkbox_fill_checked: #4c9ce0;
$checkbox_border: #c2c5cc;

$checkout_bg: #fbfbfb;

$nav_panel_bg: #2b384f;
$nav_panel_row: #28344a;
$nav_panel_line: #3b485e;
$table_row_bg: #f5f6f7;

$rejectd_color: #e9385d;
$conversation_text_bg: #f3f9fe;
$conversation_text_border: #e5f0f9;

$approved_bg:#2aa535;
$table_arrow_bg: #d9dbe0;

$toastr_box_shadow: rgba(130, 130, 130, 0.35);
$tabs_link_color: #a1a4ad;
