$page_width: 1180px;
$twocols_width: 1080px;

$logo_width: 121px;
$logo_height: 70px;

$aside_width: 25%;

$aside_main_width: 50%;
$main_width: 800px;

$header_height: 100px;
$header_indent: 40px;

$footer_height: 55px;
$footer_indent: 70px;
